/* PortfolioForm.css */
.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.form-container h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #343A40;
}

label {
  display: block; /* Add this to ensure labels take full width */
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px; /* Add space below labels */
}

.input-field {
  display: flex;
  width: 90%;
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #343A40;
  transition: all 0.3s ease;
}

.input-field:focus {
  border-color: #1E90FF;
  box-shadow: 0 0 5px rgba(30,144,255,0.5);
}

.textarea {
  min-height: 100px;
}

.generate-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #1E90FF;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(45deg,#1E90FF,#0056B3);
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  background-color: #0056b3;
}

.download-section {
  margin-top: 20px;
  text-align: center;
}
.preview-btn {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  margin-top: 10px; /* Space above the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.preview-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.download-btn:hover {
  background-color: #0056b3;
}
